@model MeteoMVC.Models.WeatherVM


@{
    ViewBag.Title = "CreateTest";
}


<h2>Create new</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Weather</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Weather.Date, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weather.Date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Weather.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weather.TemperatureMin, "Minimum °C", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weather.TemperatureMin, new { htmlAttributes = new { @class = "form-control", @type = "number", @max = "50", @min = "-20" } })
                @Html.ValidationMessageFor(model => model.Weather.TemperatureMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weather.TemperatureMax, "Maximum °C", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weather.TemperatureMax, new { htmlAttributes = new { @class = "form-control", @type = "number", @max = "50", @min = "-20" } })
                @Html.ValidationMessageFor(model => model.Weather.TemperatureMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weather.Humidity, "Humidity %", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weather.Humidity, new { htmlAttributes = new { @class = "form-control", @type = "number", @max = "100", @min = "0", @step = "0.1"} })
                @Html.ValidationMessageFor(model => model.Weather.Humidity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weather.Precipitation, "Precipitation mm/h", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weather.Precipitation, new { htmlAttributes = new { @class = "form-control", @type = "number", @max = "100", @min = "0", @step = "0.1" } })
                @Html.ValidationMessageFor(model => model.Weather.Precipitation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="cities">
                City
            </label>
            <div class="col-md-10">
                <select id="cities" name="CheckedCity" class="form-control">

                    @foreach (var city in Model.Cities)
                    {

                        <option  value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="states">
                State
            </label>
            <div class="col-md-10">
                <select id="states" name="CheckedState" class="form-control">
                    @foreach (var state in Model.States)
                    {



                        <option  value="@state.Id">@state.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default button" />
            </div>
        </div>
    </div>
}

<div class="text">
   
    <button type="button" class="btn btn-default btn-sm but back">
        <div class="backDiv">
            <span class="glyphicon glyphicon-arrow-left glyphiconBack"></span>  &nbsp
            @Html.ActionLink("Back to List", "Index")
        </div>
    </button>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
