@model IEnumerable<DTO.Weather>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="button">
    @Html.ActionLink("Create New", "Create")
</button>
<table class="table">
    <tr class="trHead">
        <th>
           Weather
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Minimum
        </th>
        <th>
            Maximum
        </th>
        <th>
            Humidity
        </th>
        <th>
            Precipitation
        </th>
        <th>
           City
        </th>
        <th>
            State
        </th>
        <th>
            Settings
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="tr">
        <td>
       @switch (item.State.Id)
       {
           case 1:
                    <img class="img-responsive" src="~/icon/soleil.png"/>
               break;
           case 2:
            <img class="img-responsive" src="~/icon/nuage.png" />
               break;
           case 3:
            <img class="img-responsive" src="~/icon/pluie.png" />
               break;

           case 4:
            <img class="img-responsive" src="~/icon/foudre.png" />
               break;
           case 5:
            <img class="img-responsive" src="~/icon/neige.png" />
               break;

       }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemperatureMin) °C
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemperatureMax) °C
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidity) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precipitation) mm
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            
                <a href='@Url.Action("Edit", "Weathers", new { id = item.Id })'>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>  |

                <a href="<%= Url.Action('Details',new { id = item.Id })>">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a> |
                
                <a href="<%= Url.Action('Delete',new { id = item.Id })>">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            
        </td>
    </tr>
}

</table>
